
/* tab 768px */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
    }
    .navbar ul li a {
        margin-left: 5rem;
    }
    .ex-cards {
        justify-content: space-between;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo h1 {
        font-size: 18px;
    }
}
/* mobile 425px */
@media (max-width: 425px) {
    .navbar {
        width: 100%;
        justify-content: space-evenly;
    }
    .navbar ul {
        display: flex;
        list-style: none;
    }
    .navbar ul li a {
        margin-left: 3rem;
        font-size: 16px;
    }
    .logo {
        display: flex;
        align-items: center;
    }
    .logo h1 {
        font-size: 16px;
    }
    .ex-cards {
        padding-left: 20px;
    }
    .image img {
        width: 50px;
        height: 50px;
    }
    .name {
        margin-left: 20px;
        font-size: 12px;
    }
    .price {
        margin-left: 20px;
        font-size: 16px;
    }
    .rank {
        margin-left: 20px;
        font-size: 16px;
    }
}

@media (max-width: 325px) {
    .navbar ul li a {
        margin-left: 1rem;
        font-size: 16px;
    }
}